@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Poppins:wght@500&family=Squada+One&display=swap'); 
 *{
    padding: 0%;
    margin: 0%;
     
    font-family: 'Poppins', sans-serif;

    


 }


html{
    /* background-color: #8360c3 ;
    background-image: -webkit-linear-gradient(65deg, #2ebf91 60%, #8360c3 30%);  /* Chrome 10-25, Safari 5.1-6 */
     min-height: 1000px;
     
     
    background-image: url("https://images.pexels.com/photos/1473714/pexels-photo-1473714.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;


 }

 .box{
    color: white;
    display: block;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    width:50%;
    border-radius: 1rem;
    background-color: #8360c3 ;
     /* box-shadow: 2px 2px 0px 0px white; */
      
    }
    .head{
        padding: 1rem;
        margin:1rem;
    }
    form .items{
        text-align: center;
    }
    .inner-box{
        margin: 2% auto 2% auto;
width: 32rem;
border: none;
height: auto;
color: #8360c3;
font-size: 1.2rem !important;
background-color: white;
box-shadow: 0px 0px 1px 1px #f8f6f6;
border-radius: 2rem;
padding: 2rem;
    }
      .subitems{
          padding: 2rem;
          margin: 0%;
          padding: 0%;
      }
    .ulist{      
    font-size:1.6rem;
    display: table-row;
    }
    input{
        border: none;
        border-bottom: 2px solid #8360c3  ;
        width: 250px;
        color: gray;
        height:40px;
        margin: 1rem;
        text-align: center;
        /* background-color: #2ebf91 ; */
        /* border-radius: 2rem; */
    }
    input[type="checkbox"]{
              width: 0%;
              height: 0%;
    }
    ul li{
       
        text-align: center;
    }
    .btn{
        border: none;
        height:50px;
        width: 50px;
        border-radius: 50px;
        background: #8360c3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        color: white;
        font-size: 2rem;
    }
    .btn:hover {
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      } 
       footer{
           text-align: center;
           margin: 5%;
       }